Label {
    -fx-text-fill: #000000;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-label-padding: 5px;
}

Button {
    -fx-border-color: #45B7E1;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #96CFE4;
}