#Logic-Circuit-Simulator {
    -fx-text-fill: black;
    -fx-font-family: "Roboto Slab SemiBold";
    -fx-font-size: 24px;
    -fx-font-weight: bolder;
}

.header {
    -fx-text-fill: #000000;
    -fx-font-family: "Roboto Slab SemiBold";
    -fx-font-size: 18px;
    -fx-font-weight: bolder;
}

Label {
    -fx-text-fill: #000000;
    -fx-font-family: "Roboto Slab SemiBold";
    -fx-font-size: 12px;
    -fx-font-weight: bolder;
    -fx-label-padding: 5px;
}

TextField {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-prompt-text-fill: rgba(1, 171, 220, 0.5);
    -fx-text-fill: #2b61d1;
    -fx-background-radius: 5 5 5 5;
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

PasswordField {
    -fx-border-width: 0 0 1 0;
    -fx-background-color: white;
    -fx-prompt-text-fill: rgba(1, 171, 220, 0.5);
    -fx-text-fill: #2b61d1;
    -fx-background-radius: 5 5 5 5;
    -fx-alignment: center;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

Button {
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

Button:hover {
    -fx-background-color: #b0acac;
}

Alert {
    -fx-border-color: lightgray;
    -fx-border-width: 1;
    -fx-background-color: transparent;
    -fx-text-fill: olive;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

CheckBox {
    -fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-background-color: Transparent;
    -fx-text-fill: black;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-font-family: "Comic Sans MS";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-fit-to-width: 50px;
}